.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .6s ease;

}

.clear {
    border: none;
}
