.field {
    padding: 16px;
    border-radius: 15px;
    background: #fff;
    width: 100%;
    min-height: 63px;
    height: 100%;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.04);
    border: none;
    outline: none;
}

.input-error {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #B3261E;
}