ion-input {
  --padding-start: 16px !important;
  border-radius: 15px;
  background: #fff;
  min-height: 63px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.04);
  --highlight-color-focused: none;
}


