.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: center / cover no-repeat url("../../src/shared/assets/images/bg.png");
}

.container{
    max-width: 767px;
    width: 100%;
    flex: 1 0 auto;
    margin: 0 auto;
    padding: 0 15px;
}