.textarea {
    padding: 16px;
    border-radius: 15px;
    background: #fff;
    width: 100%;
    min-height: 152px;
    height: 100%;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.04);
    border: none;
    resize: none;
    outline: none;
    &::placeholder {
        letter-spacing: 1px;
    }
}
